
.buttholder {
	text-align: center;
    width: 20%;
}

.button-3d {
  position:relative;
  width:100%;
  display:block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:16px 18px 14px;
  margin: 0 0 0 0;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}

.typekit{
  font-family: "futura-pt";  
}

#bigimg {
	min-width: 90%;
}
h1 {
    /* TRANSFORMS */
    text-transform: uppercase;
     text-align: center;
  
    /* FONT SETTINGS */
    font-family: "futura-pt", sans-serif;
    font-weight: 1000;
    font-size: 4.5em;
    line-height: 0.8;
    /* SPECIAL TEXT SETTINGS */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    background-image: url(https://lh3.googleusercontent.com/AcOlEwJftAuEYJROkG3ZK1JxQyEjpaaNLbvU8gpUPEMvWDYNNEMovqcNZ9Ml86Ze3CGJiIJ_6iwluq_Bxa_fFSRedQfMynVoriPoQ_8beuZgNYr2Y_Wx0ig4vwQ0VG-lWZ4GW7EMVnGbSwbb7TiuJWMv6A7zJyPav5Z09s479kYqeUZ74-b1WlS54GeoksNOLCGLHutmYviSUNwAX6VUfHq-XDjGTsQVTQ6qCyVw1mbjuE6W3kWb9dSzT9EmrRlDykQnt5Mk_N_UgHGJ9EDPuAJLfbSBNyEQnySqMIJ6GFazlznyyHxWmeTpAfofM5VVpn8uO7806FrmOy2YX7B8wIi5MpoBkoPOI23Mjki6cq9id50S43caYkUU70vHi3Wd6utb1kVLvCME25xxcBV1Qf44AH_O9FNEU3aMtG2VY_KxFq_ejOu_eZvRgXSl4-fW8gw7Nl-P3sLa9hePddoOkRllU-IK62eKrTI-gTCdHD3v1xV3xSkvZznTIOBYBdoMuBmvbyr25oJNZNqIun0sT0LmEsVn1SD1zl_dMB6bY54fM00XM_YcdyhUySiZfW7I1-CJokYof_wj8-AnBYm1seOUihPdjiTsKgrUs8xJFfBI4vUDng=w1586-h892-no);
    */
}
h2 {
    /* TRANSFORMS */
    text-transform: uppercase;
    text-align: center;   
    /* FONT SETTINGS */
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: 2em;
    font-kerning: auto;
  	font-style:italic;
	  font-size-adjust:auto; 
    line-height: 1;
    /* SPECIAL TEXT SETTINGS */
    background: repeating-linear-gradient(240deg, #ff3800, #0037ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    /* TRANSFORMS */
    text-transform: none;
    text-align: justify;
    font-weight: 100;
    align-content: center;
    /* FONT SETTINGS */
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.3;
    font-weight: 100;
}
quote {
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    font-style:italic;
    /* SPECIAL TEXT SETTINGS */
    background: repeating-linear-gradient(240deg, #0065e0, #ffb218);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img {
    width: 55%;
}
signature {
		font-family: "futura-pt", sans-serif;
		letter-spacing: 10px;
		line-height: 2.5em;
  	text-align: center;
}
nav {
	margin-bottom: -1.2em;
}
.mainBlock {
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
    display: table;
}
.padBlock {
    padding: 0px 5px;
}
/*###MEDIA QUERIES###*/
@media only screen and (max-width: 700px){
	h1 {
		font-size: 2.9em;
	}	
	h2 {
		font-size: 1.6em;
	}
	p {
		text-align: justify;
	}
	.mainBlock {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		max-width: 900px;
		display: table;	
	}
  signature {
		text-align: center;
  }
}
@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.9em;
	}	
	h2 {
		font-size: 1.2em;
	}
	p {
	text-align: left;
	}
	.mainBlock {
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		display: table;	
	}
  signature {
		text-align: center;
  }
}
@media only screen and (max-width: 400px) {
	h1 {
		font-size: 1.7em;
	}
	h2 {
		font-size: 1.0em;
	}
	.mainBlock {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		display: table;
	}
	img {
			max-width: 90%;
	}
	p {
	text-align:left;
	}
	nav {
	margin-bottom: -1em;
	}
  signature {
		text-align: center;
  }
}