<script type="text/x-template" id="contacts">
    <v-flex md6 sm10 xs12 offset-md3 offset-sm1 offset-xs0>
        <v-card>
            <v-list two-line>
                <v-list-tile avatar v-for="contact in contacts" v-bind:key="contact.id">
                    <v-list-tile-avatar>
                        <v-icon class="blue white--text">face</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ contact.name }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ contact.phone }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn :to="'/contacts/' + contact.id" icon ripple>
                            <v-icon class="grey--text text--lighten-1">info</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-flex>
</script>