<script type="text/x-template" id="contact">
  <v-layout>
      <v-flex xs12 sm6 offset-sm3>
          <v-card>
              <v-card-media src="assets/desert.jpg" height="200px">
              </v-card-media>
              <v-card-title primary-title>
                  <div>
                      <h3 class="headline mb-0">{{ contact.name }}</h3>
                      <p class="text-lg-center">{{ contact.phone }}</p>
                  </div>
              </v-card-title>
              <v-card-actions>
                  <v-btn flat class="orange--text" to="/c">Back</v-btn>
              </v-card-actions>
          </v-card>
      </v-flex>
  </v-layout>
</script>