<script type="text/x-template" id="info">
  <v-flex md6 sm10 xs12 offset-md3 offset-sm1 offset-xs0>
      <v-card class="elevation-0 transparent">
          <v-card-text class="subheading">
              <blockquote>{{ text("favquote") }}</blockquote>
              <div>
                  <p>{{ text("intro") }}</p>
              </div>
              <blockquote>{{ text("quote1") }}</blockquote>

              <v-card-media src="assets/UwharrieClouds.jpg" height="200px">
              </v-card-media> <br>
              <div>
                  <p>{{ text("outro") }}</p>
              </div>
              <blockquote>{{ text("quote2") }}</blockquote>
          </v-card-text>
      </v-card>
  </v-flex>
</script>