<script type="text/x-template" id="projects">
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
          <v-toolbar>
              <v-toolbar-title>Projects</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn to="/" icon>
                  <v-icon>reply</v-icon>
              </v-btn>
          </v-toolbar>
          <v-container fluid style="min-height: 0;" grid-list-lg>
             
                  <s-cards></s-cards>
             
            </v-container>
        </v-card>
    </v-flex>
  </v-layout>
</script>
