<script type="text/x-template" id="terminal">
  <v-flex md6 sm10 xs12 offset-md3 offset-sm1 offset-xs0>
      <div class="terminal">
          <div class="bar">
              <div class="btns"></div>
          </div>
          <div class="tbody"> λ <span class="command">echo $FAVQUOTE</span>
              <div class="comment">"I have no special talent. I am only passionately curious." - Albert Einstein</div> λ <span class="command">alias daily= 'sudo me -r * && echo "You're amazing."</span><br> λ <span class="command">echo "Never Give Up" > consciousness.js</span>                <br>
              <div class="comment"> File Write Successful </div>
              <div class="prompt">λ <span class="command">What's next...</span> <span class="pulse">_</span></div>
          </div>
      </div>
  </v-flex>
</script>